.menu {
  &__list {
    display: flex;
    gap: 23px;
  }
  &__item {
    font-size: 2.5rem;
    white-space: nowrap;
  }
}

.hamburger-menu {
  &__button {
    width: 40px;
    height: 40px;
    color: white;
    svg {
      fill: white;
    }
  }
}

.hamburger-nav {
  display: none;
}

@include respond(mobile) {
  .hamburger-nav {
    // display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: $bg-light;
    height: auto;
    width: 50%;
    color: $bg-dark;
    z-index: 100;
    border-radius: 0 0 0 5px;

    // .hamburger-nav__list
    &.active {
      display: block;
    }
    &__list {
      display: grid;
      gap: 10px;
      margin: 0 auto;
      width: 80%;
      font-size: 4rem;
      padding: 50px 10px;
    }

    // .hamburger-nav__item

    &__item {
      font-weight: 500;
    }

    // .hamburger-nav__link

    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px;
    }
  }
}
