* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
  @include respond(tablet) {
    font-size: 7px;
  }
  @include respond(mobile) {
    font-size: 6px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: $bg-dark;
  color: $color-white;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  font: inherit;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  &:hover {
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  color: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  -webkit-tap-highlight-color: transparent;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  border: none;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

svg {
  vertical-align: middle;
}
